/*
 * Reset
 */
body {
  letter-spacing: 0.05em;
  margin-top: 0;
}

a, a:hover, a:active, a:focus { outline: 0; }

/* layout style ▼
-------------------------------- */
.page_wrapper {
  padding: 0 10px;

  @media screen and #{breakpoint(xmedium)} {
    padding: 0 20px;
  }
}

/* placeholders style ▼
-------------------------------- */
%boxTitle {
    margin: 0;
    color: #000;
    @include font-size(1.8);
    @include border-radius(4px 4px 0 0);
}
