/*
** Aside
*/
.aside {

  &--title {
    position: relative;
    margin: 0;
    color: $color-black;
    border-bottom: 1px solid $color-grey;
    padding: 6px 10px;
    margin-left: 10px;
    margin-bottom: rem-calc(14px);
    @include font-size(1.8);

    &:after {
      position: absolute;
      display: block;
      left: -10px;
      top: 5%;
      content: '';
      width: 5px;
      background-color: $color-theme-main;
      height: 90%;
    }
  }

  // list
  &--list {
    border: 1px solid $color-lighter-grey;
    padding: 1rem;
  }

  // Item
  &--item {
    border-bottom: 1px solid $color-soft-grey;
    border-top: none;

    &:last-child {
      border-bottom: none;
    }

    &--title {
      @include font-size(1.4);
      line-height: rem-calc(16px);
      margin: 0;
    }

    &--image {
      width: 100%;
    }
  }
  // end Item

  // date
  &--date {
    @include font-size(1.4);
    line-height: rem-calc(16px);
  }


  // widget
  &--widget {
    margin-bottom: 1.5rem;
    border: 1px solid $color-theme-main;
    @include border-radius(4px);

    &.widget_sp_image {
      border: none;

      & img {
        width: 100%;
      }
    }
  }

  // link item
  &--link {
    box-sizing: border-box;
    display: block;
    padding: 6px 10px;
    color: $color-theme-main;

    &:hover, &:focus {
      color: darken($color-theme-main, 20);
    }
  }

  // more
  &--more {
    display: inline-block;
    padding: 6px 10px;
    color: $color-theme-main;
    float: right;

    &:hover, &:focus {
      color: darken($color-theme-main, 10);
    }
  }
}


/*
** Front widget
*/
.front-widget {
  margin-top: rem-calc(22px);
}
