
/*
** block (content) detail
*/

.block-detail {

  // for intro
  &--intro {

    &--owner-name {
      margin-top: 3px;
      margin-bottom: 0;
    }

    &--profile {
       & h5 {
          @include font-size(1.8);
          margin-bottom: 0;
        }
    }

    &--profile-text {
          @include font-size(1.3);
    }

    &--content {

      & li {
        list-style-type: disc;
        list-style-position: inside;
      }
    }

  }
  // end of intro

  // for gallary
    &--gallary {
      border-top: 1.5px solid $color-darkGrey;
      padding-top: 1rem;

      &.row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  // end gallary

  // for message
      &--message {
        border-top: 1.5px solid $color-darkGrey;

        & h4 {
          margin-top: 1rem;
          font-weight: bold;
          @include font-size(1.8);
        }
      }
 // end of message

 // for description
  &--description {

    &--title {
      border-top: 1.5px solid $color-darkGrey;
      padding-top: 1rem;
      font-weight:bold;
      @include font-size(1.7);
    }

    &--comment_title {
      font-weight:bold;
      @include font-size(1.6);
    }

    &--comment {
      padding-left: 1rem;
    }
  }
  // end of description

  // for recruitment
    &--recruitment {

      &--message {
          border-top: 1.5px solid $color-darkGrey;
          border-bottom: 1.5px solid $color-darkGrey;
          padding: 0.5rem 0 0;
          margin-bottom: 0.5rem;
      }

      &--title {
        font-weight:bold;
        @include font-size(1.8);
      }

      &--text {
        @include font-size(1.3);
      }
    }
  // end of recruitment
}


/*
** Block sponsor
*/
.block_sponsor {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &--article {
    text-align: center;
  }
}
