
/*
** block (content) detail
*/

.block-detail {

  // for intro
  &--intro {

    &--owner-name {
      margin-top: 3px;
      margin-bottom: 0;
    }

    &--profile {
       & h5 {
          @include font-size(1.8);
          margin-bottom: 0;
        }
    }

    &--profile-text {
          @include font-size(1.3);
    }

  }
  // end of intro

  // for gallary
    &--gallary {
      border-top: 1.5px solid $color-darkGrey;
      padding-top: 1rem;
    }
  // end gallary

  // for message
      &--message {
        border-top: 1.5px solid $color-darkGrey;

        & h4 {
          margin-top: 1rem;
          font-weight: bold;
          @include font-size(1.8);
        }
      }
 // end of message

 // for description
  &--description {

    &--title {
      border-top: 1.5px solid $color-darkGrey;
      padding-top: 1rem;
      font-weight:bold;
      @include font-size(1.7);
    }

    &--comment {
      font-weight:bold;
      @include font-size(1.6);
    }
  }
  // end of description

  // for recruitment
    &--recruitment {

      &--message {
          border-top: 1.5px solid $color-darkGrey;
          border-bottom: 1.5px solid $color-darkGrey;
          padding: 1rem 0;
          margin-bottom: 1rem;
      }

      &--title {
        padding-bottom: 0.5rem;
        font-weight:bolder;
        @include font-size(1.7);
      }

      &--text {
        @include font-size(1.3);
      }
    }
  // end of recruitment
}


/*
** block title
*/
.block_title {
  position: relative;
  margin-top: 1rem;
  border-bottom: 1px solid $color-darkGrey;
  @include font-size(1.5);

  &:before {
    background: $color-theme-main;
    width: 3px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -8px;
    content: "";
  }
}
