/*
** Styling for main content
** From wordpress edition
*/

.main_edition  {

  // pages
  margin-top: 1rem;
  border: 1px solid $color-darkGrey;
  padding: 1rem;
  font-weight: bold;

  // title
  & h2 {
    @include font-size(1.6);
    font-weight: bold;
    padding: 1rem;
    background-color: $color-theme-main-soft;
    border: 1px solid $color-theme-main-dark;
    margin: 1.6rem 0 1rem;

    @include border-radius(5px);
  }

  & h4 {
    @include font-size(1.8);
    font-weight: bold;
  }

  // separator
  & hr {
    border-bottom: 1px solid $color-soft-grey;
    margin: 2rem auto;
  }

  // images
  & img {
    width: 100%;
  }

  // list
  & ul {
    padding-left: 2rem;
    margin: 1.6rem 0;

    & li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  // links
  & a {
    color: $color-main-link;

    &:hover {
      color: $color-main-link-hover;
    }
  }
}




/*
** Styling for page content
** From wordpress edition
*/

.page_edition  {

  // title
  & h2 {
    @include font-size(2.6);
    font-weight: bold;
    padding: 0;
    margin: 0;

    @include border-radius(4px);
  }

  & h4 {
    @include font-size(1.8);
    font-weight: bold;
  }

  // separator
  & hr {
    max-width: 100%;
    border-bottom: 1px solid $color-soft-grey;
    margin: 2rem auto;
  }

  // images
  & img {
    width: 100%;
  }

  // list
  & ul {
    padding-left: 2rem;
    margin: 1.6rem 0;

    & li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  // links
  & a {
    color: $color-main-link;

    &:hover {
      color: $color-main-link-hover;
    }
  }

  // Alert
  & .alert {
    padding: 1.2rem;
    margin-bottom: 2rem;
    border: 1px solid #d6e9c6;
    @include border-radius(4px);

    & p {
      margin: 0;
    }

    &-success {
      color: #3c763d;
      background-color: #dff0d8;
      border: 1px solid #d6e9c6;
    }
  }
}


/*
** Styling for 404 page content
*/
.main_page {

  &--title {
    @include font-size(2);
    line-height: 2;
    font-weight: bold;
    // color: $color-theme-main;
    color: $color-black;
  }

  &--subtitle {
    @include font-size(1.8);
    line-height: 1.8;
    font-weight: bold;
    color: $color-black;
  }

  &--phone a {
    @include font-size(3);
    font-weight: bold;
    color: $color-theme-main;
  }


  // form
  &--form {

    &--title {
      @include font-size(2);
      line-height: 2;
      font-weight: bold;
      color: $color-black;
    }

    // & .wpcf7-submit {
    //   color: $color-white;
    //   background-color: $color-theme-main;
    //   border: none;
    //   width: 100%;
    //   border-radius: 6px;
    //   padding: 1.4rem;
    //   @include font-size(1.6);
    //   font-weight: bold;
    // }

    // & .table-bordered tbody th, & .table-bordered tbody td {
    //   text-align: left;
    // }

    // & .label-danger {
    //   background-color: $color-danger;
    //   @include font-size(1);
    //   font-weight: bold;
    // }

  }
}

/*
** Contact Form
*/
.main_form {
  margin: 0 auto
}

.wpcf7{

    & p {
      font-weight: bold;

      & .contact-required {
        color: $color-red;
        margin-left: 1rem;

        &:before {
          content: "※";
        }
      }
  }

    input[type="submit"] {
      background-color: $color-theme-main;
      color: $color-white;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      padding: 0.3rem 4rem;
      display: block;
      margin: 0 auto;
      @include font-size(1.8);

      &:hover {
        background-color:$color-theme-main-dark;
      }
    }
}


/*
** Front main
*/
.front_main {
  border: 1px solid $color-lighter-grey;
  padding: 1rem;
  margin-bottom: 10px;
}
