/*
** Map
*/
.japan_map {

  &--small {
    display: inline-block;
    @media screen and #{breakpoint(large)} {
      display: none;
    }
  }

  &--large {
    display: none;
    @media screen and #{breakpoint(large)} {
      display: inline-block;
    }
  }

  &--holder {
    position: relative;
    text-align: center;
    padding: 0 1rem;

    @media screen and #{breakpoint(large)} {
      width: 752px;
      max-width: 752px;
      margin: 0 auto;
      padding: 0 0 200px;
    }
  }

  // Area block
  &--area {
    margin-bottom: 1rem;

    @media screen and #{breakpoint(large)} {
      position: absolute;
      width: 176px;

      &.area_1 { top: 24%; right: -8%; }
      &.area_2 { bottom: 38%; right: -8%; }
      &.area_3 { top: 18%; left: 44%; }
      &.area_4 { bottom: 12%; left: 44%; }
      &.area_5 { top: 36%; left: 20%; }
      &.area_6 { bottom: 16%; left: 18%; }
      &.area_7 { top: 34%; left: -3%; }
    }


    // Area title
    &--title {
      text-align: center;
      color: $color-white;
      padding: 0.6rem 0.4rem;
      @include font-size(1.4);
      @include border-radius(6px);

      .area_1 & {
        background-color: $area-color-1;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-1, 5);
          @include setTransition();
        }
      }
      .area_2 & {
        background-color: $area-color-2;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-2, 5);
          @include setTransition();
        }
      }
      .area_3 & {
        background-color: $area-color-3;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-3, 5);
          @include setTransition();
        }
      }
      .area_4 & {
        background-color: $area-color-4;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-4, 5);
          @include setTransition();
        }
      }
      .area_5 & {
        background-color: $area-color-5;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-5, 5);
          @include setTransition();
        }
      }
      .area_6 & {
        background-color: $area-color-6;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-6, 5);
          @include setTransition();
        }
      }
      .area_7 & {
        background-color: $area-color-7;
        @include setTransition();
        &:hover {
          background-color: darken($area-color-7, 5);
          @include setTransition();
        }
      }
    }

    // Area list
    &--list {
      margin: 0.6rem 0 0 0;
      border-left: 2px solid $color-darkGrey;
      text-align: left;

      &.row {
        margin-left: 0;
        margin-right: 0;
      }
    }

  }

  &--textbox {
    border: 1px solid $color-grey;
    padding: 1rem;
  }
}
