/*
** Map
*/
.japan_map {

  &--small {
    display: inline-block;
    @media screen and #{breakpoint(large)} {
      display: none;
    }
  }

  &--large {
    display: none;
    @media screen and #{breakpoint(large)} {
      display: inline-block;
    }
  }

  &--holder {
    position: relative;
    padding: 0 1rem;

    @media screen and #{breakpoint(large)} {
      width: 752px;
      height: 850px;
      max-width: 752px;
      margin: 0 auto;
      padding: 0;
    }
  }

  // Area block
  &--area {
    margin-bottom: 1rem;

    @media screen and #{breakpoint(large)} {
      position: absolute;
      z-index: 300;
      width: 176px;

      &.area_1 { top: 24%; right: -8%; }
      &.area_2 { bottom: 38%; right: -8%; }
      &.area_3 { top: 18%; left: 44%; }
      &.area_4 { bottom: 12%; left: 44%; }
      &.area_5 { top: 36%; left: 20%; }
      &.area_6 { bottom: 16%; left: 18%; }
      &.area_7 { top: 34%; left: -3%; }
    }


    // Area title
    &--title {
      text-align: center;
      color: $color-white;
      padding: 0.6rem 0.4rem;
      @include font-size(1.4);
      @include border-radius(6px);

      &--link {
        display: block;
      }

      .area_1 & {
        background-color: $area-color-1;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-1, 5);
          @include setTransition();
        }
      }
      .area_2 & {
        background-color: $area-color-2;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-2, 5);
          @include setTransition();
        }
      }
      .area_3 & {
        background-color: $area-color-3;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-3, 5);
          @include setTransition();
        }
      }
      .area_4 & {
        background-color: $area-color-4;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-4, 5);
          @include setTransition();
        }
      }
      .area_5 & {
        background-color: $area-color-5;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-5, 5);
          @include setTransition();
        }
      }
      .area_6 & {
        background-color: $area-color-6;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-6, 5);
          @include setTransition();
        }
      }
      .area_7 & {
        background-color: $area-color-7;
        @include setTransition();

        & .japan_map--area--title--link:hover {
          background-color: darken($area-color-7, 5);
          @include setTransition();
        }
      }
    }

    // Area list
    &--list {
      margin: 0.6rem 0 0 0;
      border-left: 2px solid $color-darkGrey;
      text-align: left;

      &.row {
        margin-left: 0;
        margin-right: 0;
      }
    }

  }

  &--textbox {
    border: 1px solid $color-grey;
    padding: 1rem;
  }

  // icon
  &--icon {
    position: absolute;
    stroke: #fff;
    stroke-width: 0.2;

    &--holder {
      position: relative;
      text-align: center;
      padding: 0 1rem;
      margin: 0 auto;
      width: 332px;
      height: 370px;

      @media screen and #{breakpoint(medium)} {
        width: 582px;
        height: 660px;
      }

      @media screen and #{breakpoint(large)} {
        width: 752px;
        height: 850px;
        max-width: 752px;
        margin: 0 auto;
        padding: 0;
      }
    }

    &.icon-japan-1 {
      z-index: 100;
      fill: $area-color-1;
      height: 46%;
      width: 40%;
      top: 0;
      right: -5%;
    }

    &.icon-japan-2 {
      z-index: 90;
      fill: $area-color-2;
      stroke-width: 0.3;
      height: 16.5%;
      width: 16%;
      top: 46%;
      right: 15.99%;
    }

    &.icon-japan-3 {
      z-index: 80;
      fill: $area-color-3;
      stroke-width: 0.3;
      height: 28.7%;
      width: 29%;
      top: 34.4%;
      right: 26.66%;
    }

    &.icon-japan-4 {
      z-index: 90;
      fill: $area-color-4;
      stroke-width: 0.3;
      height: 17.7%;
      width: 17%;
      top: 51.4%;
      left: 36.2%;
    }

    &.icon-japan-5 {
      z-index: 90;
      fill: $area-color-5;
      stroke-width: 0.3;
      height: 8.2%;
      width: 12.8%;
      top: 51.5%;
      left: 23.3%;
    }

    &.icon-japan-6 {
      z-index: 90;
      fill: $area-color-6;
      stroke-width: 0.3;
      height: 8.2%;
      width: 16.8%;
      top: 62%;
      left: 21.4%;
    }

    &.icon-japan-7 {
      z-index: 90;
      fill: $area-color-7;
      stroke-width: 0.3;
      height: 21%;
      width: 17%;
      top: 55%;
      left: 0;
    }

    &--link {
      &:hover, &:active, &:focus {
        & .icon-japan-1 { fill: darken($area-color-1, 10); }
        & .icon-japan-2 { fill: darken($area-color-2, 10); }
        & .icon-japan-3 { fill: darken($area-color-3, 10); }
        & .icon-japan-4 { fill: darken($area-color-4, 10); }
        & .icon-japan-5 { fill: darken($area-color-5, 10); }
        & .icon-japan-6 { fill: darken($area-color-6, 10); }
        & .icon-japan-7 { fill: darken($area-color-7, 10); }
      }
    }
  }
}
