.navigation {
  display: none;

  &.active {
    display: block;
  }

  @media screen and #{breakpoint(medium)} {
    display: block;
  }

  // Menu
  & .menu {
    width: 100%;
    margin: 0;
    background-color: $color-theme-main;
    border-bottom: 4px solid $color-theme-main;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &--item {
      display: block;
      list-style-type: none;
      list-style-position: outside;
      padding: 0;
      width: 100%;
    }

    &--item--link {
      display: block;
      font-family: 'Open Sans', sans-serif;
      text-align: right;
      color: $color-white;
      margin: 0;
      padding: 1rem;
      letter-spacing: 0px;
      line-height: 110%;
      text-decoration: none;
      font-weight: bold;
      border-top: 1px solid #e5e5e5;
      @include setTransition();

      &:hover {
        background-color: $color-blue;
        @include setTransition();
      }
      &.menu--item--link {
        @include font-size(1.6);
      }
    }

    &--item:first-child .menu--item--link {
      border-top: none;
    }

    @media screen and #{breakpoint(medium)} {
      position: relative;
      margin: 1rem 0 0;
      border-bottom: none;
      top: auto;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

      &--item {
        flex: 1 0 auto;
        display: table-cell;
        vertical-align: middle;
        width: auto;
      }

      &--item--link {
        text-align: center;
        border-top: none;
        border-right: 1px solid #e5e5e5;
        padding: 1rem 0.2rem;

        &:hover {
          background-color: $color-blue;
        }
      }

      &--item:first-child .menu--item--link {
        border-left: 1px solid #e5e5e5;
      }
    }
  }
}
  // end menu

  // Submenu
  & .is-dropdown-submenu {
    margin: 0;

    @media #{$mobile-medium} {
      position: relative;
      display: block;
      border: none;
      margin-left: 0;
      //margin-right: 1.25rem;

      &-item .menu--item--link {
        background-color: $color-light-grey;
        @include font-size(1.2)

        &:hover {
          background-color: darken($color-light-grey, 5);
        }
      }
    }

    &-item {
      display: block;
    }
  }
  // end submenu


  // button
  .navigation-button {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 0.4rem 0.6rem 0.4rem;
    text-align: center;
    font-size: rem-calc(14px);
    color: $color-white;
    background-color: $color-theme-main;

    &:hover, &:focus {
      background-color: darken($color-theme-main, 10);
      color: #fff;
    }

    & .fa {
      display: block;
      font-size: rem-calc(20px);
    }

    @media screen and #{breakpoint(medium)} {
        display: none;
      }
   }
  // end button



.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 2rem;

  @media screen and #{breakpoint(medium)} {
    padding-right: 1.4rem;
  }

  &:after {
    border-color: $color-black transparent transparent;
  }
}


// Footer menu
.footer .menu {
  &--item {
    vertical-align: top;

    @media #{$mobile-medium} {
      display: block;
      margin: 1rem;
    }

  }
}
// end footer menu

// Footer submenu
.footer .submenu .menu {
    &--link {
      padding-left: 0.4rem;

      &:hover {
        .menu--item--icon:before {
          content: "\f067";
        }
      }
    }
  }

.footer .submenu {
  @media #{$mobile-medium} {
    position: relative;
    display: block;
    border: none;
    margin-left: 2rem;
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 2rem;

    @media #{$mobile-medium} {
      &:after {
        display: none;
      }
    }
}
// end footer submenu
