 .nav-pills {
   margin: 0 0 1rem 1rem;

 	&--item {
    width: 15%;
    text-align: center;
 		display: inline-block;
    border: 1px solid $color-darkBlue;
    padding: 3px 15px;

    &:hover {
      background-color: $color-blue;
    }

    &--link {
      font-family: 'Open Sans', sans-serif;
      color: $color-darkBlue;
      margin: 0;
      text-decoration: none;
      font-weight: bolder;
      @include font-size(1.4);

      &:hover{
        color: #fff;
      }
    }
  }
}
