 .nav-pills {
  //  margin: 0 0 1rem 1rem;

   &.button-group .button:last-child {
     margin-right: 1px;
   }

  &--button {
    border: 1px solid $color-theme-main;
    color: $color-theme-main;
    background-color: $color-white;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 1px;
    padding: 0 1.5rem;
    border-radius: 0;
    @include font-size(1.4);

    @media #{$mobile-medium} {
      padding: 0 0.7rem;
    }

    &:hover, &:active, &:focus,
    &.active {
      color: #fff;
      background-color: $color-theme-main;
    }
  }
}
