// .orbit {
//   margin: 1.6rem auto 0;
//   width: 100%;
//   overflow: hidden;
// }


  // &-previous, &-next {
  //   // color: $color-black;
  //   padding: 2rem;
  //   font-size: 2rem;

    // @media screen and #{breakpoint(medium)} {
    //   color: $color-white;
    // }

    // .orbit_panel & {
    //   padding: 1rem;
    //   font-size: 1rem;
    // }


  // &-image {
  //   max-width: 100%;
  //   float: left;
  //   width: 50%;
  //
  //   @media screen and #{breakpoint(medium)} {
  //     float: none;
  //     width: 100%;
  //   }
  // }

  // &-slide {
  //   width: 100%;
  //   height: 200px;
  //
  //   &-post {
  //     overflow: hidden;
  //     margin-bottom: 10px;
  //
  //     @media screen and #{breakpoint(medium)} {
  //       margin-bottom: 0;
  //     }
  //
  //     &--holder {
  //       position: relative;
  //       height: 130px;
  //       overflow: hidden;
  //
  //       @media screen and #{breakpoint(medium)} {
  //         height: 200px;
  //       }
  //     }
  //   }
  //
  //   @media screen and #{breakpoint(medium)} {
  //     height: 200px;
  //   }
  // }

  // &-caption {
  //   position: relative;
  //   float: right;
  //   width: 50%;
  //   text-align: left;
  //   color: $color-black;
  //   background-color: transparent;
  //   padding-left: 0.9375rem;
  //   padding-right: 0.9375rem;
  //   left: 0;
  //
  //   & h5 {
  //     @include font-size(1.2);
  //   }
  //
  //   & a {
  //     @include font-size(1.1);
  //     color: $color-white;
  //   }
  //
  //   & small {
  //     display: block;
  //   }
  //
  //   @media screen and #{breakpoint(medium)} {
  //     position: absolute;
  //     float: none;
  //     width: 100%;
  //     text-align: center;
  //     color: $color-white;
  //     background-color: rgba(10, 10, 10, 0.7);
  //   }
  // }

/*
** Orbit Panel(care page top)
*/

.orbit_panel {
  max-width: 250px;
  margin: 0 auto;

  & .orbit-image {
    max-width: 250px;

  }
}



/*
** Front Gallery
*/
.gallery {
  display: block !important;

  &--holder {

  }

  // list
  &--list {
    display: block;

    @media screen and #{breakpoint(medium)} {
      display: flex;
    }
  }

  &--list_item {
    position: relative;
    display: block;
    margin-bottom: rem-calc(10px);
    border: none;
    cursor: pointer;


    &--thumbnail {
      width: 100%;
    }

    @media screen and #{breakpoint(medium)} {
      max-height: 100% !important;
    }
  }

  // tooltip
  &--tooltip {
    position: absolute;
    z-index: 1000;
    display: none;
    top: -265%;
    width: 200%;
    left: -50%;

    @media screen and #{breakpoint(large)} {
      top: -250%;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: inset 15px;
      border-color: $color-black transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      margin: 0 auto;
    }

    &--inner {
      position: relative;
      border: 1px solid $color-black;
    }

    &--title {
      position: absolute;
      width: 100%;
      bottom: 0;
      margin: 0;
      padding: rem-calc(5px) rem-calc(10px);
      @include font-size(1.6);
      color: $color-white;
      background-color: rgba(0,0,0,0.6);

      & strong {
        display: block;
        @include font-size(1.1);
      }
    }
  }

  &--list_item:hover &--tooltip {
    display: block;
  }

  // slide
  &--slide {
    @media screen and #{breakpoint(medium)} {
      display: block !important;
      max-height: 100% !important;

      & .row {
        margin-left: 0;
        margin-right: -0.625rem;
      }
    }
  }

  // orbit
  & .orbit {
    height: auto;
    padding-bottom: 2.2rem;
    overflow: hidden;

    &-container {
      height: auto !important;
      overflow: hidden;
    }

    &-slide {
      height: auto;
      max-height: auto !important;
    }

    &-previous, &-next {
      top: initial;
      bottom: 0;
      padding: 0.8rem;
      font-size: 1rem;
      color: $color-black;
      -ms-transform: translateY(0);
      transform: translateY(0);
      outline: 0;
    }
    &-previous { left: 1rem; }
    &-next { right: 1rem; }

    @media screen and #{breakpoint(medium)} {
      height: auto !important;
      overflow: visible;

      &-container {
        height: auto !important;
        overflow: visible;
      }

      &-slide {
        max-height: 100%;
        height: auto;
      }

      &-previous, &-next {
        display: none;
      }
    }
  }

}
