/*
** Arhcives
*/

.page {

  // titles
  &--title {
    @include font-size(2);
    margin: 3rem;
    border-left: 5px solid $color-theme-main;

    & h1 {
    font-weight: bold;
    margin-left: 8px;
    border-bottom: 1px solid $color-darkGrey;
    @include font-size(2.6);
    }
  }

  // pages states
  &__wide {
    & .searchArea .searchBox {
      width: 100%;
    }
  }

  // content
  &--inner {
    margin-top: 3rem;
  }

}
