/*
** Default panels
*/

// term object
%terms {
  display: inline-block;
  margin-bottom: 0.4rem;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  @include font-size(1.2);
  text-decoration: none;

  & a {
    display: inline-block;
    padding: 2px 8px;
    color: $color-white;
  }
}

// panel style
.panel {
  position: relative;
  margin-bottom: 3rem;
  // padding: 1.5rem 3rem;
  border: 1px solid $color-darkBlue;
  padding: 1.5rem 3rem;

  // header
  &--header {
    margin-bottom: 1rem;
    padding: 3px 10px;
    color: $color-white;
    font-weight: bold;
    background-color: $color-darkBlue;
  }

  // title
  &--title {
    font-size: rem-calc(28px);
    font-weight: bold;

    &--link {
      color: $color-white;

      &:hover {
        color: $color-theme-main-dark;
        text-decoration: underline;
      }
    }
  }

  // intro
  &--intro {
    margin-bottom: 1.4rem;

    &--alert {
      color: #31708f;
      background-color: #d9edf7;
      border: 1px solid #bce8f1;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 4px;

      & b {
        font-weight: bold;
      }
    }
  }

  // Thumbnail
  &--thumbnail {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  //details
  &--details {
    margin-top: 1rem;
      border-left: 5px solid $color-darkBlue;

      &--title {
       margin-left: 5px;
        border-bottom: 1px solid $color-darkGrey;
        @include font-size(1.5);
      }
  }




  // terms
  &--categories {
    & li {
      @extend %terms;
      background-color: $color-term-category;

      &:hover {
        background-color: darken($color-term-category, 10);
      }
    }
  }

  &--tag {
    @extend %terms;
    background-color: $color-term-tag;

    &:hover {
      background-color: darken($color-term-tag, 10);
    }
  }


  // articleLink
  &--articleLink {
    position: absolute;
    bottom: 3rem;
    left: 55%;
    width: 20%;
    background-color: $color-gold;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    color: $color-white;
    @include border-radius(5px);

    &:hover {
      background-color: darken($color-gold, 10);
      color: #fff;
      // @include setTransition();
    }
  }

  &--button--holder {
    margin-top: 2rem;
    text-align: center;
  }

}
