/*
** Default panels
*/

// term object
%terms {
  display: inline-block;
  margin-bottom: 0.4rem;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  @include font-size(1.2);
  text-decoration: none;

  & a {
    display: inline-block;
    padding: 2px 8px;
    color: $color-white;
  }
}

// panel style
.panel {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid $color-theme-main;

  & > .row {
    margin: 0;
  }

  // header
  &--header {
    margin-bottom: 1rem;
    padding: 3px 10px;
    color: $color-white;
    font-weight: bold;
    background-color: $color-theme-main;
  }

  // title
  &--title {
    @include font-size(2.3);
    font-weight: bold;

    &--link {
      color: $color-white;

      &:hover {
        color: $color-theme-main-dark;
        text-decoration: underline;
      }
    }
  }

  // intro
  &--intro {
    margin-bottom: 1.4rem;

    &--alert {
      color: #31708f;
      background-color: #d9edf7;
      border: 1px solid #bce8f1;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 4px;

      & b {
        font-weight: bold;
      }
    }
  }

  // Thumbnail
  &--thumbnail {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  //details
  &--details {
    margin-top: 1rem;
      border-left: 5px solid $color-theme-main;

      &--title {
        @include font-size(1.5);
      }
  }




  // terms
  &--categories {
    & li {
      @extend %terms;
      background-color: $color-term-category;

      &:hover {
        background-color: darken($color-term-category, 10);
      }
    }
  }

  &--tag {
    @extend %terms;
    background-color: $color-term-tag;

    &:hover {
      background-color: darken($color-term-tag, 10);
    }
  }

  // main
  &--main {
    padding-top: 1rem;
  }

  &--button--holder {
    margin-top: 2rem;
    text-align: center;
  }

}

 // care
.care_panel {
  margin-bottom: 1rem;
  padding: 1rem;

  &.first {
    border: 1px solid $color-darkGrey;
    padding: 2rem;
  }

  &--text {
    @include font-size(1.5);
  }
}
