/*
** product
*/

.product{
  margin-bottom: 15px;
  border: 1px solid $color-darkBlue;

  &--title {
      margin-top: 1rem;
      border-left: 5px solid $color-darkBlue;

        h4　{
        margin-left: 5px;
        border-bottom: 1px solid $color-darkGrey;
        @include font-size(1.5);
        }
      }

  &--text{
    @include font-size(1.5);
  }
}
