/*
** Main title
*/
.main_title {
  position: relative;
  margin: 0;
  color: $color-black;
  border-bottom: 1px solid $color-theme-main;
  padding: 6px 6px;
  margin-left: 6px;
  margin-bottom: rem-calc(14px);
  @include font-size(1.8);

  &:after {
    position: absolute;
    display: block;
    left: -14px;
    top: 10%;
    content: '';
    width: 7px;
    background-color: $color-theme-main;
    height: 90%;
  }
}
