/*
** Main title
*/
.main_title {
  position: relative;
  margin: 0;
  color: $color-black;
  border-bottom: 1px solid $color-grey;
  padding: 6px 10px;
  margin-left: 10px;
  margin-bottom: rem-calc(14px);
  @include font-size(1.8);

  &:after {
    position: absolute;
    display: block;
    left: -10px;
    top: 5%;
    content: '';
    width: 5px;
    background-color: $color-theme-main;
    height: 90%;
  }
}

/*
** single title
*/
.single_title {
  @include font-size(2.3);
  font-weight: bold;
}

/*
** block title
*/
.block_title {
  position: relative;
  margin-top: 1rem;
  border-bottom: 1px solid $color-darkGrey;
  @include font-size(1.5);

  &:before {
    background: $color-theme-main;
    width: 3px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -8px;
    content: "";
  }
}

/*
** Contact Form title
*/
.form_title {
  color: $color-theme-main;
  font-weight: bold;
  text-align: center;
  @include font-size(2);
}
