// 37. Custom
// -----------

$mobile-medium: "screen and (max-width: 640px)";

// Theming
$color-theme-main: #ed6a1d;
$color-theme-main-soft: #fdbc6a;
$color-theme-main-medium: #f39800;
$color-theme-main-lighter: lighten($color-theme-main, 40);
$color-theme-main-light: lighten($color-theme-main, 5);
$color-theme-main-dark: darken($color-theme-main, 10);

$color-main-link: #4171bf;
$color-main-link-hover: #ee2f01;

$color-term-category: #418bca;
$color-term-tag: #d9544f;

// 色
$color-blue: #4171bf;
$color-lightBlue: #4dc1f0;
$color-lightGreen: #6dbf41;
$color-green: #016d3b;
$color-red: #ce0004;
$color-lighter-grey: #a1a1a1;
$color-light-grey: #fdf1dd;
$color-soft-grey: #fee0b9;
$color-grey: #858585;
$color-darkGrey: #666;
$color-black: #333;
$color-white: #fff;
$color-phone: $color-theme-main;
$color-danger: #d9534f;


//muchiuchi colour
$color-light-green: #61ae17;


// map area colours
$area-color-1: #1974bf;
$area-color-2: #22951c;
$area-color-3: #ed6a1d;
$area-color-4: #811dba;
$area-color-5: #e21684;
$area-color-6: #bb1010;
$area-color-7: #1da6ed;


// Fonts
$font-header-tel: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
