// 37. Custom
// -----------

$mobile-medium: "screen and (max-width: 640px)";

// Theming
$color-theme-main: #FE4E24;
$color-theme-main-soft: #FFB973;
$color-theme-main-lighter: lighten($color-theme-main, 40);
$color-theme-main-light: lighten($color-theme-main, 5);
$color-theme-main-dark: darken($color-theme-main, 10);

$color-main-link: #4171bf;
$color-main-link-hover: #ee2f01;

$color-term-category: #418bca;
$color-term-tag: #d9544f;

// 色
$color-blue: #4171bf;
$color-lightBlue: #4dc1f0;
$color-lightGreen: #6dbf41;
$color-green: #016d3b;
$color-red: #ce0004;
$color-lighter-grey: #a1a1a1;
$color-light-grey: #f8f8f8;
$color-soft-grey: #eee;
$color-grey: #999;
$color-darkGrey: #666;
$color-black: #333;
$color-white: #fff;
$color-phone: $color-theme-main;
$color-danger: #d9534f;


//gofuku colour
$color-soft-blue: #d2ddf1;
$color-darkBlue: #355595;
$color-gold: #c6a02c;

// map area colours
$area-color-1: #355595;
$area-color-2: #3a9535;
$area-color-3: #d87924;
$area-color-4: #723595;
$area-color-5: #ca2c82;
$area-color-6: #953535;
$area-color-7: #d14900;


// Fonts
$font-header-tel: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
